@tailwind base;
@tailwind components;
@tailwind utilities;


/*Estilos navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px ;
    background-color: #cbcbcb;
    border-bottom: 1px solid #444444;
    box-shadow: 2px 2px aliceblue;
    margin: 0px
}
.navbar > li {
    display: flex;
    align-items: center;
}
.navbar > button{

}
.logo{
    height: 50px;
}



/*Estilos Sidebar*/
*{
    padding: 0;
    margin: 0;
}
.container-aside{
    display: grid ;
    grid-template-columns: 60px 1fr 1fr 1fr;

}

.aside-home{

    font-size: 12px;
    grid-column: 1;
    border: 2px solid #24A178;
    background-color: #38d39f;
    color: #262626af;
    height: 100vh;
    overflow: hidden;
    /* font-family: 'Roboto', sans-serif; */
}

.content-menu{
    height: 50%;
    grid-column: 1;
    /* border: 2px solid #2c24a1; */
    position: absolute;
    bottom: 0;

}

.menu{
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/*Estilos del footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    color: #cbcbcb;
    background: #444;
    background: #333;
    background: linear-gradient(to bottom,#485054 0,#333738 100%);
    border-top: 1px solid #333738;
}
.footer-content > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 10px 10px 0px 10px;
}
.footer-img{
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 20px;
}

.landingPage{
    display: flex;
    flex-direction: column;
}
.landingPageContent{

}